@model IEnumerable<WebBanThucAnNhanh.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHOADON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKHUYENMAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANHANVIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKHACHHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MACTHOADON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MADATHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYGIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTHUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHICHU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAHOADON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKHUYENMAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANHANVIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKHACHHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MACTHOADON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MADATHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYGIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTHUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHICHU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
