@model IEnumerable<WebBanThucAnNhanh.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>Danh sách tài khoản nhân viên</strong>
                </div>
               
            </div>
        </div>
    </div>
    <div class="card-block p-3">
        <table class="table table-bordered table-hover table-striped">
        
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MAHOADON)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TONGTIEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NGAYGIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TONGTHUE)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DATHANG.GHICHU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MAKHACHHANG)
                </th>

            </tr>

                @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAHOADON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYGIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTHUE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DATHANG.GHICHU)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MAKHACHHANG)
            </td>
            <td>
        

            </td>
        </tr>
                }

            </table>
        </div>
}