@model IEnumerable<WebBanThucAnNhanh.Models.MONAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAMONAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENMONAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONVITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAMONAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENMONAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINHANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONVITINH.TENDONVITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAI.TENLOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTA)
        </td>
        <td>
            <a href="/DonHang/AddToCart/@item.MAMONAN" class="btn btn-default">Buy</a>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAMONAN }) |
            @Html.ActionLink("Details", "Details", new { id = item.MAMONAN }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MAMONAN })
        </td>
    </tr>
}

</table>
