@model WebBanThucAnNhanh.Models.CT_MONAN_DATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_MONAN_DATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANG.GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANG.GHICHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONAN.TENMONAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONAN.TENMONAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
