@model IEnumerable<WebBanThucAnNhanh.Models.DONVITINH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENDONVITINH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDONVITINH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MADONVITINH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MADONVITINH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MADONVITINH })
        </td>
    </tr>
}

</table>
