@model WebBanThucAnNhanh.Models.DIACHIGH
@{
    var GioHang = Session["GioHang"] as WebBanThucAnNhanh.Models.GioHang;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Checkout.css" rel="stylesheet" />
</head>
<body>

    <h2>THANH TOÁN</h2>
        <div class="row">
            <div class="col-75">
                <div class="container">
                            <div class="row">
                                <div class="col-50">
                                    @using (Html.BeginForm("Checkout", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        <h3>Thông tin Khách Hàng</h3>
                                        <label for="fname"><i class="fa fa-user"></i> Họ Và Tên</label>
                                        @Html.EditorFor(model => model.HOTEN, new { htmlAttributes = new { @class = "form-control" } })
                                        <p>@Html.ValidationMessageFor(model => model.HOTEN)</p>
                                        <label for="phone"><i class="fa fa-phone"></i> Số Điện Thoại</label>
                                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                        <p>@Html.ValidationMessageFor(model => model.SDT)</p>
                                        <label for="adr"><i class="fa fa-address-card-o"></i> Địa Chỉ</label>
                                        @Html.EditorFor(model => model.SONHA, new { htmlAttributes = new { @class = "form-control" } })
                                        <p>@Html.ValidationMessageFor(model => model.SONHA)</p>
                                        <label for="phuong"><i class="fa fa-address-card-o"></i>Phường</label>
                                        @Html.EditorFor(model => model.PHUONG, new { htmlAttributes = new { @class = "form-control" } })
                                        <p>@Html.ValidationMessageFor(model => model.PHUONG)</p>
                                        <label for="quan"><i class="fa fa-address-card-o"></i>Quận</label>
                                        @Html.EditorFor(model => model.QUAN, new { htmlAttributes = new { @class = "form-control" } })
                                        <p>@Html.ValidationMessageFor(model => model.QUAN)</p>
                                        <input type="submit" value="Tiếp Tục Thanh Toán" class="btn-green">

                                    }
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-25">
                <div class="container">
                    <h4>
                        Giỏ Hàng
                        <span class="price" style="color:black">
                            <i class="fa fa-shopping-cart"></i>
                            <b>
                                @Html.Action("BagCart", "GioHang")
                            </b>
                        </span>
                    </h4>
                    @foreach (var pro in GioHang.Items)
                    {
                        double total = pro._monan.GIABAN * pro._quantity;
                        <p> @Html.DisplayFor(model => pro._monan.TENMONAN) x @Html.DisplayFor(model => pro._quantity) <span class="price">@total VNĐ</span></p>
                    }
                    <hr>
                    <p>Tổng Tiền <span class="price" style="color:black"><b>@GioHang.Total_money() VNĐ</b></span></p>
                </div>
                <a href="/GioHang/ShowToCart">
                    <input type="submit" value="Quay Về Giỏ Hàng" class="btn-grey" href="/GioHang/ShowToCart" />
                </a>
                
            </div>
        </div>
    </body>
</html>
