@model WebBanThucAnNhanh.Models.GioHang

@{ Layout = null; }
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<div class="shopping-cart">
    <div class="title">
        Shopping Bag
    </div>
    @if (Model != null)
    {
        <table class="table">
            <tbody>
                @foreach (var pro in Model.Items)
                {
                    double total = pro._monan.GIABAN * pro._quantity;
                    <tr class="item">
                    <td class="buttons">
                        <a href="/GioHang/RemoveCart/@pro._monan.MAMONAN">
                            <span class="delete-btn"></span>
                        </a>
                    </td>
                    <td class="image">
                        <img src="@Url.Content(pro._monan.HINHANH)" style="width:100px;height:100px;" />
                    </td>
                    <td class="description">
                        @Html.DisplayFor(model => pro._monan.TENMONAN)
                    </td>



                    <td class="quantity">
                        @using (Html.BeginForm("Update_Quantity_Cart", "GioHang"))
                        {
                            <input type="hidden" value="@pro._monan.MAMONAN" name="MA_MONAN" id="textbox" />
                            <input type="text" value="@pro._quantity" name="Quantity">
                            <input type="submit" value="Update" />
                        }
                    </td>
                    <td class="total-price">
                        @*@Html.DisplayFor(model => pro._shopping_monan.GIABAN)*@
                        Total :@total
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td
                        colspan="5" style="text-align:right">Sum Total : @Model.Total_money()
                    </td>
                    <td>
                        <input type="submit" value="Buy" />
                    </td>
                </tr>
            </tfoot>
        </table>
    }
    <a href="@Url.Action("Index","Home")">=== TIẾP TỤC MUA MÓN ĂN </a>
</div>
