@model IEnumerable<WebBanThucAnNhanh.Models.HOADON>

@{
    ViewBag.Title = "DonDat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table-responsive">

            <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.MAHOADON)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.KHACHHANG.TENKHACHHANG)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TONGTIEN)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.NGAYGIO)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.DATHANG.TRANGTHAI)
                        </th>*@
                </tr>
</thead>
<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAHOADON)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KHACHHANG.TENKHACHHANG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TONGTIEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGAYGIO)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.DATHANG.TRANGTHAI)
                            </td>*@

                      
                    </tr>

                }
                </tbody>

            </table>
        
    </div>
}
